# Copyright 2021 The ModelarDB Contributors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.dependencies]
arrow = "51.0.0"
arrow-flight = "51.0.0"
async-trait = "0.1.77"
bytes = "1.6.0"
chrono = "0.4.38"
crossbeam-channel = "0.5.12"
crossbeam-queue = "0.3.11"
dashmap = "5.5.3"
datafusion = "37.1.0"
deltalake = { git = "https://github.com/delta-io/delta-rs.git", rev = "85089b1" }
dirs = "5.0.1"
futures = "0.3.30"
log = "0.4.21"
object_store = "0.9.1"
once_cell = "1.19.0"
parquet = "51.0.0"
proptest = "1.4.0"
rand = "0.8.5"
ringbuf = "0.4.0"
rustyline = "14.0.0"
snmalloc-rs = "0.3.5"
sqlparser = "0.44.0"
sysinfo = "0.30.11"
tempfile = "3.10.1"
tokio = "1.37.0"
tokio-stream = "0.1.15"
tonic = "0.11.0"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
uuid = "1.8.0"

[profile.release]
lto = true
codegen-units = 1
panic = "abort"

[profile.dev-release]
inherits = "release"
lto = false
codegen-units = 16
panic = 'unwind'
