# Copyright 2021 The ModelarDB Contributors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.dependencies]
arrow = "50.0.0"
arrow-flight = "50.0.0"
async-trait = "0.1.77"
bytes = "1.5.0"
chrono = "0.4.38"
crossbeam-channel = "0.5.11"
crossbeam-queue = "0.3.11"
dashmap = "5.5.3"
datafusion = "36.0.0"
deltalake = { git = "https://github.com/delta-io/delta-rs.git", rev = "da6ed7b" }
dirs = "5.0.1"
futures = "0.3.30"
log = "0.4.20"
object_store = "0.9.0"
once_cell = "1.19.0"
parquet = "50.0.0"
proptest = "1.4.0"
rand = "0.8.5"
ringbuf = "0.3.3"
rustyline = "13.0.0"
snmalloc-rs = "0.3.4"
sqlparser = "0.43.0"
sqlx = "0.7.3"
sysinfo = "0.30.5"
tempfile = "3.10.0"
tokio = "1.36.0"
tokio-stream = "0.1.14"
tonic = "0.10.2"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
uuid = "1.7.0"

[profile.release]
lto = true
codegen-units = 1
panic = "abort"

[profile.dev-release]
inherits = "release"
lto = false
codegen-units = 16
panic = 'unwind'
