# Copyright 2021 The ModelarDB Contributors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[workspace]
members = ["crates/*"]

[workspace.dependencies]
arrow = "43.0.0"
arrow-flight = "43.0.0"
async-trait = "0.1.72"
bytes = "1.4.0"
datafusion = "28.0.0"
dirs = "5.0.1"
futures = "0.3.28"
log = "0.4.19"
object_store = "0.6.1"
once_cell = "1.18.0"
parquet = "43.0.0"
proptest = "1.2.0"
pyo3 = "0.19.1"
pyo3-build-config = "0.19.1"
rand = "0.8.5"
ringbuf = "0.3.3"
rustyline = "12.0.0"
serial_test = "2.0.0"
snmalloc-rs = "0.3.4"
sqlparser = "0.35.0"
sqlx = "0.7.1"
sysinfo = "0.29.6"
tempfile = "3.7.0"
tokio = "1.29.1"
tokio-stream = "0.1.14"
tonic = "0.9.2"
tracing = "0.1.37"
tracing-subscriber = "0.3.17"
uuid = "1.4.1"

[profile.release]
lto = true
codegen-units = 1
panic = "abort"

[profile.dev-release]
inherits = "release"
lto = false
codegen-units = 16
panic = 'unwind'
