[package]
name = "modelardbd"
version = "0.1.0"
license = "Apache-2.0"
edition = "2021"
authors = ["Soeren Kejser Jensen <devel@kejserjensen.dk>"]

[dependencies]
datafusion = "14.0.0"
datafusion-common = "14.0.0"
datafusion-optimizer = "14.0.0"
datafusion-expr = "14.0.0"
datafusion-physical-expr = "14.0.0"
datafusion-sql = "14.0.0"
object_store = { version = "0.5.1", features = ["aws"] }
sqlparser = "0.26.0"

# Log is a dependency so the compile time filters for log and tracing can be set to the same value
log = { version = "0.4.17", features = ["max_level_debug", "release_max_level_info"] }
tracing = { version = "0.1.37", features = ["max_level_debug", "release_max_level_info"] }
tracing-subscriber = "0.3.16"
tracing-futures = "0.2.5"

tokio = { version = "1.21.2", features = ["rt-multi-thread", "signal"] }

async-trait = "0.1.58"
futures = "0.3.25"

arrow-flight = "26.0.0"
tonic = "0.8.2"

parking_lot = "0.12.1"
snmalloc-rs = "0.3.3"

rusqlite = { version = "0.28.0", features = ["bundled"] }

[dev-dependencies]
proptest = "1.0.0"
tempfile = "3.3.0"
rand = "0.8.4"
assert_cmd = "2.0.4"
prost = "0.11.0"
libc = "0.2"
serial_test = "0.9.0"
sysinfo = "0.26.7"

[[test]]
name = "integration"
path = "tests/integration_test.rs"